<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    
    <script src="main.js"></script>
</head>
<body class="container">
    <h1 class="display-3 text-center">I'am a humble to-do app</h1>
    <br>
    <ul class="todos">
        <% for(var i=0; i<todos.length; i++) { %>
            <% if (todos[i].duetime != null) { %>
                <% var date = (todos[i].duetime).split('T')[0] %>
                <% var time = (todos[i].duetime).split('T')[1] %>
            <% } %>
            <li class="todo">
                <ul class="todo">
                    <li><%= todos[i].description %></li>
                    <% if (date != null && time != null) { %>
                        <li>Time: <%= time %></li>
                        <li>Date: <%= date %></li>
                    <% } %>
                    <button class="update btn btn-secondary">edit</button>
                    <button class="delete btn btn-danger">delete</button>
                    <br>
                    <br>
                </ul>
            </li>
        <% } %>
    </ul>
    <form action="/todos" method="POST">
        <div>
            <textarea rows = "5" cols = "50" name = "description" class="form-control"></textarea>
            <br>
            <input type="datetime-local" placeholder="date/time" name="duetime" id="duetime" class="form-control">
            <br>
            <button type="submit" id="submitButton" class="btn btn-light">Submit</button>
        </div>
    </form>

</body>
</html>